.home-page-button {
    @apply px-6 border-2 border-gray-800 bg-sky-300 rounded-md text-lg font-medium text-neutral-800 duration-300;
}

@media (max-width: 500px) {
    .statistic-info {
        display: flex;
        flex-direction: column;
    }

    .home-icon {
        rotate: 90deg;
    }

    .budget-container {
        flex-direction: column;
        text-align: center;
    }

    .button-container {
        width: 100%;
    }

    .home-page-button {
        width: 50%;
    }

    .input-container {
        flex-direction: column;
    }

    #input-button {
        width: 100%;
    }
}