@media (max-width: 500px) {
    .modal-button-container {
        flex-direction: column;
    }

    .modal-button {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .modal {
        flex-direction: column;
    }

    .modal-button-container {
        flex-direction: row;
        width: 100%;
        padding-top: 10px;
    }

    .modal-button {
        width: 50%;
    }

    .modal-text {
        font-size: 18px;
    }
}

@media (max-width: 375px) {
    .modal-button {
        padding: 3px 6px 3px 6px;
    }
}