@media (max-width: 580px) {
    .primary-container {
        padding: 40px 20px;
    }
}

@media (max-width: 500px) {
    .primary-container {
        padding: 40px 15px;
    }
}

@media (max-width: 425px) {
    .primary-container {
        padding: 40px 10px;
    }
}

@media (max-width: 375px) {
    .primary-container {
        padding: 40px 5px;
    }
}