@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    @apply text-center font-bold text-2xl text-gray-800 pb-10 min-h-full;
}

@media (max-width: 500px) {
    .input {
        width: 100%;
    }

    .link {
        width: 60%;
        text-align: center;
    }
}

@media (max-width: 375px) {
    .link {
        width: 100%;
    }
}